.subscribe {padding: 30px 0; background: var(--main_color); margin-bottom: -60px;}
.subscribe .row {align-items: center;}
.subscribe_icon {padding-right: 50px;}
.subscribe_text {color: #fff; padding-right: 60px;}
.subscribe_text span {display: block;  font-weight: bold; font-size: 21px; line-height: 24px; margin-bottom: 10px;}
.subscribe_form form {width: 600px; height: 50px; background: #fff; border-radius: 3px; padding: 7px;}
.subscribe_form input[type=text], .subscribe_form input[type=email] {border: 0px; border-radius: 0; width: 400px; margin-right: 25px; border-right: 1px solid #D4D4D4; height: 36px;}
.subscribe_form button {background: transparent; border: 0px;}
.subscribe_form button svg {fill: #3B3B3B;}
.subscribe_form button:hover {color: var(--main_color);}
.subscribe_form button:hover svg {fill: var(--main_color);}
@media only screen and (max-width : 1379px) {
    .subscribe_form form {width: 500px;}
    .subscribe_form input[type=text], .subscribe_form input[type=email] {width: 300px;}
}
@media only screen and (max-width : 1120px) {
    .subscribe_icon {padding-right: 20px;}
    .subscribe_text {padding-right: 30px; width: 380px;}
    .subscribe_form form {width: 440px;}
    .subscribe_form input[type=text], .subscribe_form input[type=email] {width: 240px;}
}
@media only screen and (max-width : 1023px) {
    .subscribe_icon {padding-right: 10px;}
    .subscribe_text {padding-right: 10px; width: 300px;}
    .subscribe_text span {font-size: 16px; line-height: 20px; margin-bottom: 5px;}
    .subscribe_form form {width: 340px;}
    .subscribe_form button span {display: none;}
}
@media only screen and (max-width : 767px) {
    .subscribe .row {display: block; text-align: center; width: 340px; margin: 0 auto;}
    .subscribe_icon {display:none;}
    .subscribe_text {padding-right: 0px; width: 100%;}
    .subscribe_form {margin-top: 10px; width:100%;}
}