.service_item {border: 1px solid #ccc; margin-bottom: 12px; padding: 12px; display: flex;}
.service_item:hover {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.service_item_img {width: 300px; margin-right: 20px;}
.service_item_img img {width: 100%;}
.service_item .h2 {text-decoration: none; color: var(--font_color); margin-bottom: 15px; display: inline-block;}
.service_item .h2:hover {color: var(--main_color);}
.service_item_price {margin-bottom: 15px;}
.service_item_price span {    font-weight: bold;
	font-size: 18px;
	line-height: 20px; padding-right: 20px;}
.service_item_price span.price_old {    text-decoration-line: line-through;
	color: #8E8E8E;}

@media only screen and (max-width: 600px) {
	.service_item {flex-wrap: wrap;}
	.service_item_img {width: 100%; margin: 0 0 15px 0;}
}