/*media*/

.mobile_menu, .mobile_menu_info {display: none;}

@media only screen and (min-width : 1024px) {
    .header_fixed .header_main {
        position: fixed;
        top: 0 !important;
        width: 100%;
        transition: top 0.5s ease 0s;
        background: #fff;
        border-bottom: 1px solid #D3D3D3;
        z-index: 101;
        box-shadow: 0 -3px 15px -5px rgba(0, 0, 0, 0.5);
    }

    .header_fixed .header_main > div {
        height: 70px;
    }

    .main_menu.top_fixed {width: 100%;
        position: fixed;
        top: 71px;
        z-index: 100;}

    .header_fixed {
        padding-top: 70px;
    }
    .header_menu_fixed {padding-top: 119px;}

    .element_fast_view .modal-dialog {
        width: 1000px; }
}

@media only screen and (max-width : 1309px) {
    .container {width: 1024px; margin: 0 auto;}

    .header_info > div {font-size: 12px;}
    .header_adres_time {max-width: 600px;}
    .header_logo {
        width: 35%;
    }
    .header_search {
        width: 30%;
    }

    .footer_phone {flex-wrap: wrap;}
    .footer_btn_callback {margin-top: 10px;}

    .footer_social {display: block;}
    .footer_social b {line-height: 25px; display: inline-block; margin-bottom: 10px;}

    .footer_payment {margin-left: 0; margin-top: 10px;}

}

@media only screen and (max-width : 1023px) {
    .container {width: 768px; margin: 0 auto;}

    .header_main > div {height: 80px;}
    .header_logo {width: 30%;}
    .header_search {width: 25%; padding-right: 0px;}
    .header_phone {width: 25%;}
    .header_cart {width: 15%;}
    .header_adres_time, .header_logo span, .header_cart_sum {display: none;}

    .header_adres_time {flex-wrap: wrap;}

    .width_sidebar>.col-3 {display: none}
    .width_sidebar>.col-9 {width:100%;}

}

@media (min-width: 768px) {
    .menu_item a>span, .sub_menu_item a>span {display: none;}
}

@media only screen and (max-width : 767px) {
    .container {width: 100%; margin: 0 auto;}
    .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {width: 100%;}

    header {position: fixed; top:0; left: 0;
        width: 100%;
        z-index: 101;
        background: #fff;}
    body {padding-top: 80px;}

    .header_main {border-bottom: 1px solid #D3D3D3;}
    .header_info {display: none}

    .header_phone.mobile_show>div {position: fixed;
        top: 81px;
        display: block;
        width: 100%;
        background: #fff;
        z-index: 111;
        left: 0px;
        padding: 20px;}
    .header_phone.mobile_show div a {display: block;}
    /*header.mobile_fixed {position: relative; background: #fff; z-index: 10;}*/

    .mobile_menu_search input[type=text] {
        width: 100%;
        border-radius: 25px;
    }
    .mobile_menu_search .header_search_btn {position: absolute; border: 0px; background: transparent; right: 26px; top: 20px; outline: 0px;}
    .mobile_menu_search form {display: block; width: 100%;}
    .mobile_menu_info.mobile_menu_search.mobile_show {position: fixed;
        top: 81px;
        background: #fff;
        display: block;
        left: 0px;
        width: 100%;}
    .mobile_menu_info {
        padding: 10px 20px;
        border-bottom: 1px solid #e8e5e5;
        min-height: 49px;
        display: flex;
        align-items: center;
        background-color: #fff;
    }
    .mobile_menu_phone a {font-weight: bold; display: flex; align-items: center;}
    .mobile_menu_city a i {margin-left: 5px;}
    .mobile_menu_info i {margin-right: 7px;}
    .mobile_menu_info .footer_social {padding: 5px 0 0; display: flex; flex-wrap: wrap;}
    .mobile_menu_info .footer_social a { margin-bottom: 5px;}
    .mobile_menu_info b {display: none;}
    .mobile_menu_login a span {border-bottom: 1px dotted var(--main_color); color:var(--main_color); font-weight: bold; font-size: 13px;}

    .mobile_menu {width: 20px;
        height: 20px;
        margin-right: 15px; display: block; cursor: pointer;}
    .main_menu {display: block; background: #fff;  height: 100%; max-width: 400px; width:calc(100% - 30px); position: absolute; left:-400px; transition: left 0.5s ease 0s;  z-index: 10; top: 0;}
    .main_menu_background {background: rgba(0,0,0,0.4); width: 100%; height: 100%; position: fixed; z-index: 5;}
    .main_menu.mobile_view {    position: fixed; box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
        left: 0;
        display: block; overflow-y: auto; overflow-x: hidden;
        }
    .main_menu .container {    padding: 0px;}
    .menu_catalog>a:before {display: none;}
    .menu_item {width: 100%;}
    .menu_item a, .sub_menu_item a {    color: var(--font_color);
        border-bottom: 1px solid #e8e5e5;
        display: flex;
        justify-content: space-between; padding: 0 0 0 20px; background: #fff;}
    .menu_item a span, .sub_menu_item a span {width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;}
    .active_level>a {justify-content: flex-end !important;
        flex-direction: row-reverse !important; background: #F9F9F9 !important; color: var(--font_color) !important;}
    .active_level>a>span {transform: rotateY(180deg);
        width: 60px;
        padding-left: 20px;}

    .mobile_view .sub_menu {box-shadow: none !important; transition: all 0.5s ease 0s;
        display: block;
        position: absolute;
        left: 400px;
        width: 100%;
        top:49px;
    }
    .sub_level .menu_item {display: none;}
    .sub_level .level_2 > .sub_menu .sub_menu_item:not(.active_level),
    .sub_level .level_2 > .catalog_menu .container > .sub_menu .sub_menu_item:not(.active_level) {display: none; background: #fff;}
    .sub_level .menu_item.active_level, .sub_level .level_2 > .sub_menu_item.active_level {display: block;}
    .sub_level .active_level > .sub_menu, .sub_level .active_level > .catalog_menu .container > .sub_menu {position: static; display: block; box-shadow: none;
        left: 0;
        top: 49px;
        position: absolute;
    }
    .sub_level .active_level.level_2 > .sub_menu, .sub_level .active_level.level_2 > .catalog_menu .container > .sub_menu {top:0px;}


    .sub_level .sub_menu_item.active_level:not(.level_2) > .sub_menu .sub_menu_item,
    .sub_level .catalog_menu .container .sub_menu_item.active_level:not(.level_2) > .sub_menu .sub_menu_item {display: block; background: #fff;}

    .sub_level .menu_item.active_level.level_2 > a, .sub_level .sub_menu_item.active_level.level_2 > a {display: none;}

    /*.level_2 .sub_menu_item.sub_active_level {display: block; background: #fff;}*/

    .footer_info .col-4 {margin-bottom: 20px;}
    .footer_info {padding-top: 20px; margin-bottom: 0;}
    .footer_payment_block {margin-bottom: 20px; display: block;}
    .footer_payment_block b {display: block; margin-bottom: 10px;}
}
@media only screen and (max-width: 750px) {
    .header_main .header_search_input {display: none;}
    .header_logo {width: 200px;}
    .header_search, .header_phone {width: auto;}
    .header_phone a {display: block;}
    .header_cart {width: 80px;}
    .header_main .header_search_btn {position: static; display: block; margin: 0 auto;}
}

@media only screen and (max-width: 600px) {
    .header_cart_count {display: none}
    .header_cart {width: 45px;}
    .header_search_btn svg {width: 24px; height: 24px;}
    .header_cart svg {width: 30px; height: auto;}
}

@media only screen and (max-width: 600px) {
    .header_phone a, .header_phone .header_callback {display: none;}

}

@media only screen and (max-width: 375px) {
    .header_logo {width: 130px;}
    .header_logo  a{font-size: 25px;}
    .header_search_btn svg {width: 20px; height: 20px;}
    .header_cart svg {width: 25px; height: auto;}
    .header_phone svg {width: 16px; height: auto;}
    .header_search_btn, .header_cart, .header_phone {width: auto}
    .header_search_btn i, .header_cart i, .header_phone i {margin:0;}
}

@media only screen and (max-width: 310px) {
    .header_logo  a{font-size: 20px;}
    .header_logo {width: 100px;}
    .container {min-width: 290px; margin: 0 auto;}
    .mobile_view .container {min-width:200px;}
}